Django>=2.0,<3.0
psycopg2>=2.7,<3.0
psycopg2-binary>=2.7,<3.0
django-bootstrap4==0.0.7
django-filter==2.4.0
django-import-export==2.1.0
djangorestframework==3.11.2
django-extensions==2.1.6
django-pandas==0.6.1
numpy>=1.16.5
jupyter==1.0.0
notebook==6.4.1
pandas>=0.24.2
bokeh==1.2.0
matplotlib==3.1.0
requests==2.22.0
django-crispy-forms==1.7.0
django-cors-headers==2.5.2
lxml==4.6.5
jupyter-contrib-nbextensions==0.5.1
rise==5.5.1
pyocr==0.7.2
Pillow>=6.2.0
scipy==1.7.2
xlrd==1.2.0
odfpy==1.4.1
sphinx==3.1.0
nbsphinx==0.7.0
pandoc==1.0.2
mypy==0.782
Werkzeug==1.0.1
aiohttp==3.10.11
PyQt5==5.15.0
plotly==4.14.3
scikit-learn==0.24.1